@using Alghorithms.Models
@{
    Layout = "/Views/Shared/Admin.cshtml";
}
@model (List<ContentType>, List<Content>)
@*@model (List<ContentType>, List<Content>, List<ProgramingLanguage>)*@

<script>
    function editContent(id) {
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '@Url.Action("Edit", "Contents")');

        var contentId = encodeURIComponent(id);
        var ContentTypeId = encodeURIComponent(document.getElementById("ContentTypeId"+id).value);
        var Data = encodeURIComponent(document.getElementById("Data"+id).value);
        var Order = encodeURIComponent(document.getElementById("Order"+id).value);
        var res = 'Id='+contentId + '&ContentTypeId='+ContentTypeId + '&Data='+Data 
            + '&Order='+Order + '&CodeListId='
        if (ContentTypeId == 6) {
            var CodeListId = encodeURIComponent(document.getElementById("CodeListId"+id).value);
            res += CodeListId
        }
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.send(res);
        xhr.onreadystatechange = handleFunc;

        function handleFunc() {
            if(xhr.readyState === 4) {
                if (xhr.status === 200) {
	                @*var container = document.getElementById("MainContainer");
	                var contentContainer = document.getElementById("container"+id);

                    var res = container.innerHTML + xhr.responseText;
                    container.innerHTML = res;*@
                    alert("Сохранено");
                } else {
                    alert("Ошибка");
                }
            }
        };
    }
</script>

    
<div class="templatemo-content-wrapper">
    <div class="templatemo-content">
      
        <h1>Контент</h1>
      
        <div class="table-responsive">
            @*<div class="btn-group pull-right" id="templatemo_sort_btn" style="margin-bottom: 0px">
                <a href="" class="btn btn-default">Добавить</a>
            </div>*@
            <h4 class="margin-bottom-15">Все алгоритмы</h4>
            
            <div id="MainContainer">
            @foreach (var content in @Model.Item2)
            {
                string iid = content.Id.ToString();
                <div class="row margin-bottom-15" id="@("container"+iid)">
                    <div class="margin-bottom-15">
                        <select id="@("ContentTypeId"+iid)" name="ContentTypeId" class="form-control">
                            @foreach (var contentType in @Model.Item1)
                            {
                                <option value="@contentType.Id" @(contentType.Id == content.ContentTypeId ? "selected" : "")>@contentType.Name</option>
                            }
                        </select>
                        @if(content.ContentTypeName == "Text" || content.ContentTypeName == "MarkedText" || content.ContentTypeName == "Warning")
                        {
                            <textarea id="@("Data"+iid)" style="resize: vertical;" class="form-control" rows="4">@content.Data</textarea>
                        }
                        else if(content.ContentTypeName == "Code")
                        {
                            <input type="number" id="@("CodeListId"+iid)" name="CodeListId" class="form-control" value="@content.CodeListId">
                        }
                        else
                        {
                            <input type="text" id="@("Data"+iid)" name="Data" class="form-control" value="@content.Data">
                        }
                    </div>
                    
                    <div class="col-md-1" style="margin-top: 5px;">
                        <label>Порядок:</label>
	                </div>
                    <div class="col-md-5 margin-bottom-15">
                        <input id="@("Order"+iid)" type="number" class="form-control" value="@content.Order">
	                </div>
                    <div class="col-md-6 margin-bottom-15" style="text-align: end">
	                    <button onclick="editContent('@iid');" class="btn btn-primary">Сохранить</button>
	                </div>
                </div>
            }
            </div>

        </div>



    </div>
</div>


                    

@*var commentHeader = document.getElementById("commentHeader");
var div = document.getElementById("nocomments");

if (typeof(div) != 'undefined' && div != null)
{
	div.parentNode.removeChild(div);
}
if (typeof(commentHeader) != 'undefined' && commentHeader != null)
{
	commentHeader.parentNode.removeChild(commentHeader);
}
var header = '<div id="commentHeader" class="col-lg-8 col-12 m-auto"><h3 class="mb-4">Шарҳҳои алгоритм</h3><br/></div>'*@