@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

@using Alghorithms.Models
@using System.Security.Claims
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@model (Topic, List<Content>, List<Comment>)
            <header class="site-header d-flex flex-column justify-content-center align-items-center">
                <div class="container">
                    <div class="row justify-content-center align-items-center">

                        <div class="col-lg-11 col-12 mb-5">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Topics")">Алгоритмҳо</a></li>

                                    <li class="breadcrumb-item active" aria-current="page">@Model.Item1.Name</li>
                                </ol>
                            </nav>

                            <h2 class="text-white">@Model.Item1.Name</h2>
                        </div>

                    </div>
                </div>
            </header>


            <section class="topics-detail-section section-padding" id="topics-detail">
                <div class="container">
                    <div class="row">

                    @foreach (Content content in Model.Item2)
                    {
                        <div class="col-lg-8 col-12 m-auto">
                            @if(content.ContentTypeName == "Title")
                            {
                                <h3 class="mb-4">@content.Data</h3>
                            }
                            else if(content.ContentTypeName == "Text")
                            {
                                <p>@content.Data</p>
                            }
                            else if(content.ContentTypeName == "Subtitle")
                            {
                                
                            }
                            else if(content.ContentTypeName == "Image")
                            {
                                <div class="row my-4">
                                    <img src="@content.Data" class="topics-detail-block-image img-fluid">
                                </div>
                            }
                            else if(content.ContentTypeName == "MarkedText")
                            {
                                var items = content.Data.Split('\n');
                                <ul>
                                @foreach (var item in items)
                                {
                                    <li>@item</li>
                                }
                                </ul>
                            }
                            else if(content.ContentTypeName == "Code")
                            {
                                    @*@content.codes.First().LanguageName <br>
                                    @Html.Raw(@content.codes.First().Code)*@

                                    <script>
                                        var codes@(content.CodeListId) =[
                                            `@Html.Raw(@content.codes.First().Code)`
                                            @for(var i = 1; i < @content.codes.Count; ++i)
                                            {
                                            @(",`");@Html.Raw(@content.codes[i].Code);@("`");
                                            }
                                        ];

                                        function selectCode@(content.CodeListId)() {
                                            var myselect = document.getElementById("codeselect@(content.CodeListId)");
                                            var index = myselect.selectedIndex;
                                            index = (index == -1 || index == undefined) ? 0 : index;
                                            document.getElementById("codeviewer@(content.CodeListId)").innerText = codes@(content.CodeListId)[index];
                                        }

                                    </script>
                                    
                                    <div class="syntaxhighlighter">
                                        <div class="toolbar">
                                            <select id="codeselect@(content.CodeListId)" onchange="selectCode@(content.CodeListId)()">
                                            @for (var i=0; i < content.codes.Count; i++)
                                            {    
                                                <option value="@content.codes[i].LanguageId">
                                                    @content.codes[i].LanguageName
                                                </option>
                                            }
                                            </select>
                                        </div>
                                        <div style="padding: 10px">
<span class="codetest" id="codeviewer@(content.CodeListId)"></span>
                                        </div>
                                        
                                    </div>

                                    <script>
                                        selectCode@(content.CodeListId)();
                                    </script>

                            }
                            else if(content.ContentTypeName == "Warning")
                            {
                                <blockquote>@content.Data</blockquote>
                            }

                        </div>
                    }

                        @*<div class="col-lg-8 col-12 m-auto">
                            <h3 class="mb-4">Introduction to Web Design</h3>

                            <p>So how can you stand out, do something unique and interesting, build an online business, and get paid enough to change life. Please visit TemplateMo website to download free website templates.</p>

                            <p><strong>There are so many ways to make money online</strong>. Below are several platforms you can use to find success. Keep in mind that there is no one path everyone can take. If that were the case, everyone would have a million dollars.</p>

                            <blockquote>
                                Freelancing your skills isn’t going to make you a millionaire overnight.
                            </blockquote>

                            <div class="row my-4">
                                <div class="col-lg-6 col-md-6 col-12">
                                    <img src="~/images/businesswoman-using-tablet-analysis.jpg" class="topics-detail-block-image img-fluid">
                                </div>

                                <div class="col-lg-6 col-md-6 col-12 mt-4 mt-lg-0 mt-md-0">
                                    <img src="~/images/colleagues-working-cozy-office-medium-shot.jpg" class="topics-detail-block-image img-fluid">
                                </div>
                            </div>

                            <p>Most people start with freelancing skills they already have as a side hustle to build up income. This extra cash can be used for a vacation, to boost up savings, investing, build business.</p>
                        </div>*@

                    </div>
                </div>
            </section>


<script type="text/javascript">
    // функция для создание элементов
    function createElementFromHTML(htmlString) {
        var div = document.createElement('div');
        div.innerHTML = htmlString.trim();
        // Change this to div.childNodes to support multiple top-level nodes.
        return div.firstChild;
    }

    // отправление запроса на добавление коментария
    function addComment() {
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '@Url.Action("Create", "Comments")');
        var topicId = encodeURIComponent("@Model.Item1.Id");
        var userId = encodeURIComponent("@(HttpContextAccessor.HttpContext?.User.FindFirst(ClaimTypes.NameIdentifier)?.Value ?? "-69")");
        var text = encodeURIComponent(document.getElementById("message").value);
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.send('topicId=' + topicId +'&text='+text+'&userId='+userId);
        xhr.onreadystatechange = handleFunc;

        function handleFunc() {
            if(xhr.readyState === 4) {
                if (xhr.status === 200) {
	                var container = document.getElementById("comments-container");
                    var res = xhr.responseText + container.innerHTML;
                    container.innerHTML = res;

	                //ul.appendChild(createElementFromHTML(xhr.responseText));
	                //document.getElementById("text").value = '';

	                var div = document.getElementById("nocomments");
	                if (typeof(div) != 'undefined' && div != null)
	                {
		                div.parentNode.removeChild(div);
	                }
                } else {
                    alert(xhr.status);
	                alert(xhr.responseText);
                }
            }
        };
    }
</script>


@if (@HttpContextAccessor.HttpContext?.User.FindFirst(ClaimTypes.NameIdentifier) != null)
{
    <section class="section-normal-padding-top section-bg">
        <div class="container">
            <div class="row justify-content-center">

                <div class="col-lg-6 col-12">
                    <div class="custom-form contact-form">
                        <div class="row">

                            <div class="col-lg-12 col-12 m-auto">
                                <h4 class="mb-4">Дар бораи алгоритм шарҳ нависед</h4>
                            </div>

                            <div class="col-lg-12 col-12">
                                <div class="form-floating">
                                    <textarea class="form-control" id="message" name="message" placeholder="Шарҳи матн"></textarea>

                                    <label for="floatingTextarea">Шарҳи матн</label>
                                </div>
                            </div>

                            <div class="col-lg-4 col-12 ms-auto">
                                <button onclick="addComment()" class="form-control">Фиристондан</button>
                            </div>

                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>
} else
{
                
}



<section class="section-normal-padding section-bg">
    <div class="container">
        <div class="row justify-content-center" id="comments-container">

            <div class="col-lg-8 col-12 m-auto">
                <h3 class="mb-4">Шарҳҳои алгоритм</h3>
                <br/>
            </div>

            @if(Model.Item3.Count == 0)
            {
                <div id="nocomments" class="col-lg-8 col-12 m-auto">
                    <h4 class="mb-4">Ҳанӯз шарҳ нест</h4>
                    <p>Аввалин шуда шарҳ нависед</p>
                </div>
            }

            @foreach (Comment comment in Model.Item3)
            {
                <div class="custom-block custom-block-topics-listing bg-white shadow-lg mb-5">
                    <div class="d-flex">

                        <div class="custom-block-topics-listing-info d-flex">
                            <div>
                                <h5 class="mb-2">@comment.UserName</h5>

                                <p class="mb-0">@comment.Text</p>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</section>



